/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
	font-size: 62.5%; /* http://snook.ca/archives/html_and_css/font-size-with-rem */
}

body {
	background-color: white;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1.6rem; /* = 16px when html font-size: 62.5% */
}

/*  ============================================================================================
    ********************************************************************************************
      ACCESSIBILITY
    ********************************************************************************************
	 - http://webaim.org/techniques/css/invisiblecontent/
	 - https://developer.mozilla.org/en-US/docs/Web/Accessibility/
*/
.screen-reader-text {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

.lti-settings label {
	font-weight: 800;
	font-size: 1.8rem;
}

.lti-settings input[type=text] {
	height: 4.0rem;
	font-size: 2.0rem;
	padding-left: 1.0rem;
	display: block;
}

.lti-settings input[type=text]:invalid {
	background-color: lightpink;
}

.lti-settings input[type=text]:valid {
	background-color: lightblue;
}

.lti-settings input[name=course] {
	text-transform: uppercase;
}

.lti-settings input[type=checkbox], input[type=radio] {
 	/* Double-sized Checkboxes */
	-ms-transform: scale(1.2); /* IE */
	-moz-transform: scale(1.2); /* FF */
	-webkit-transform: scale(1.2); /* Safari and Chrome */
	-o-transform: scale(1.2); /* Opera */
	transform: scale(1.2);
	padding: 1.0rem;
}

.lti-settings div {
	width: 100%;
	padding-bottom: 1.5rem;
}

.lti-settings fieldset ul > li:not(:first-child) {
	padding-top: 1.5rem;
}

.lti-settings fieldset > ul > li {
	padding-left: 1.5rem;
	padding-bottom: 1.5rem;
	width: 100%;
}

.lti-settings fieldset > ul {
	padding-left: 0;
}

.lti-settings label, form > div > span, fieldset > ul > li > span {
	display: block;
}

.lti-settings input[type=checkbox] + label, form input[type=radio] + label {
	display: inline;
}

.lti-settings input[type=submit], .lti-settings button, .lti-settings .button {
	font-size: 1.8rem;
	margin: 1.0rem 0 1.0rem 0;
	padding: 1.0rem 1.0rem 1.0rem 1.0rem;
}

.lti-settings .button {
	width: auto;
	cursor: pointer;
	line-height: 20px;
	vertical-align: middle;
	color: rgb(0, 0, 0);
	text-decoration: none;
	border: thin;
	background-color: #E1E1E1;
	font-weight: 400;
}

.lti-settings .button + .button {
	margin-left: 1.0rem;
}

.lti-settings .button:hover {
	background-color: rgb(229, 241, 251);
}

.lti-settings legend {
	font-size: 1.8rem;
	font-weight: 800;
	border-bottom: 0;
	width: auto;
	margin-left: 1.8rem;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-bottom: 0;
}

.lti-settings fieldset > ul > li > span {
	margin-left: 2.6rem;
}

.lti-settings fieldset {
	border-top: 1px solid black;
	border: 1px solid black;
}

.lti-settings fieldset fieldset {
	margin-right: 1rem;
}

.lti-settings fieldset {
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
	margin-top: 0.8rem;
	margin-bottom: 0.8rem;
}

.lti-settings div > span, form fieldset > ul > li > span {
	font-size: 1.2rem;
}

.lti-settings fieldset > ul {
	list-style: none;
}

.lti-settings fieldset fieldset {
	padding-top: 1.0rem;
	padding-bottom: 1.0rem;
	margin-left: 2.6rem;
}

.lti-settings textarea {
	width: 100%;
	height: 8.0rem;
	background-color: lightblue;
}

.lti-settings input[type=submit]:last-child {
	margin-bottom: 0;
}

.lti-settings form, form.lti-settings {
	margin-bottom: 0;
}


 /* The Modal (background) https://www.w3schools.com/howto/howto_css_modals.asp */
.jqtoolkit-modal-wrapper {
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
}

/* Modal Content/Box */
.jqtoolkit-modal {
	background-color: lightgreen;
	margin: 15% auto; /* 15% from the top and centered */
	border: 0.1rem solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
	max-width: 50.0rem;
	font-size: 3.0rem;
}

.jqtoolkit-modal-container {
	width: 100%;
	height: 100%;
	position: relative;
	display: table;
}

.jqtoolkit-modal-content {
	width: 100%;
	height: 100%;
	padding: 3.0rem 4.0rem 3.0rem 3.0rem;
	display: table-cell;
}

/* The Close Button */
.jqtoolkit-modal-closeButton {
	color: #000;
	position: absolute;
    top: 0px;
    right: 0px;
    left: auto;
    z-index: 100;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	line-height: 3.0rem;
}

.jqtoolkit-modal-closeButton:hover,
.jqtoolkit-modal-closeButton:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
} 

#debug-info pre {
	color: blue;
	font-size: 1.2rem;
}